html,
body {

}

#__next {
  scrollbar-width: none;
  background-image: linear-gradient(to right,#f4f75c,#fbff0b50);

}


::-webkit-scrollbar{
  display: none;
}

.Toastify {
  font-weight: 600;
  font-size: 14px;
  /* Modificar el color de la barra de progreso */
  
}
